.status-approved {
    color: green;
    font-weight: bold;
  }
  
  .status-rejected {
    color: red;
    font-weight: bold;
  }
  
  .status-pending {
    color: orange;
    font-weight: bold;
  }

  

.light.no-renter-history-message {
  background-color: #f0f8ff;
  color: #333;
  padding: 16px;
  border: 1px solid #cfd8dc;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  margin: 20px auto;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.dark.no-renter-history-message {
  background-color: #1e2a38;
  color: #dcefff;
  padding: 16px;
  border: 1px solid #3e4c59;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  margin: 20px auto;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

